In [3]:
import os
os.environ['PYSPARK_SUBMIT_ARGS'] = 'pyspark-shell'
from pyspark.sql import SparkSession
import pyspark
import requests
import json
df = spark.read.json("file:///C:/hdaoopdata/devices.json")
df.show()

+---------+--------------------+--------+---+----+------+----+-------------------+-------+
|device_id|         device_name|humidity|lat|long| scale|temp|          timestamp|zipcode|
+---------+--------------------+--------+---+----+------+----+-------------------+-------+
|        1|sensor-mac-aAt85bOBM|      80| 81|  57|Celius|  30|1.447975123509765E9|  95353|
|        2|sensor-mac-able9b...|      36| 13|  56|Celius|  14|1.447975124005187E9|  96484|
|        3|sensor-mac-aboutR...|      30| 35|  54|Celius|  17|1.447975124054221E9|  96402|
|        4|sensor-mac-across...|      35| 36|  40|Celius|   6|1.447975124102157E9|  96025|
|        5|sensor-mac-afterE...|      62| 90|  91|Celius|  23|1.447975124150419E9|  95638|
|        6|sensor-mac-allBMO...|      97| 76|  77|Celius|   8|1.447975124197694E9|  95478|
|        7|sensor-mac-almost...|      30| 95|  76|Celius|   5|1.447975124246103E9|  95499|
|        8|sensor-mac-alsosT...|      74| 95|  79|Celius|  25|1.447975124291892E9|  94857|
|        9|sensor-mac-am8CUl...|      93| 37|  29|Celius|  24|1.447975124349377E9|  96149|
|       10|sensor-mac-amongj...|      67| 32|  31|Celius|   6|1.447975124399264E9|  96531|
|       11|sensor-mac-anKbFx...|      77| 68|  44|Celius|   8|1.447975124448621E9|  95850|
|       12|sensor-mac-andeKY...|      96| 98|  87|Celius|  23|1.447975124498138E9|  95524|
|       13|sensor-mac-anyf4C...|      54| 78|  14|Celius|  33|1.447975124546061E9|  96025|
|       14|sensor-mac-arevx9...|      83| 64|  90|Celius|  29|1.447975124596101E9|  95470|
|       15|sensor-mac-asZWyp...|      89|  6|  70|Celius|  16|1.447975124641159E9|  96756|
|       16|sensor-mac-atV9GY...|      73| 73|  13|Celius|  32|1.447975124685129E9|  96846|
|       17|sensor-mac-be8Ab7...|      53| 29|  54|Celius|  25|1.447975124734084E9|  95323|
|       18|sensor-mac-becaus...|      97|  8|  60|Celius|  15|1.447975124783517E9|  96577|
|       19|sensor-mac-beenTi...|      62| 67|  72|Celius|  31|1.447975124832391E9|  96358|
|       20|sensor-mac-butYnx...|      29| 57|  16|Celius|   5|1.447975124881703E9|  96669|
+---------+--------------------+--------+---+----+------+----+-------------------+-------+
only showing top 20 rows

In [2]:
import pyspark
from pyspark.sql import SparkSession
import requests
import json
from pyspark.sql import Row
from datetime import datetime, date
spark = SparkSession.builder.master("local[1]") \
                    .appName('Puvi') \
                    .getOrCreate()


df = spark.createDataFrame([
    Row(Name='David', Age=22, destination='London', source='Paris'),
    Row(Name='Steve', Age=22, destination='New York', source='Sydney')  
    ])
df.show()

+---+-----+-----------+------+
|Age| Name|destination|source|
+---+-----+-----------+------+
| 22|David|     London| Paris|
| 22|Steve|   New York|Sydney|
+---+-----+-----------+------+

In [41]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql.functions import *
from pyspark.sql.types import StructType,StructField, StringType
from pyspark.sql.functions import col
from pyspark.sql.functions import rand
from pyspark import SparkConf, SparkContext, SQLContext
from pyspark.mllib.stat import Statistics
from pyspark.sql.functions import covar_pop

spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

df = spark.range(0, 10).withColumn("rand1", rand(seed=10)).withColumn("rand2", rand(seed=10))
p=df.stat.cov("rand1", "rand2")
q=df.stat.corr("rand1", "rand2")
from pyspark.sql import *
Result = Row("Stats","Value")
r1= Result("Co-variance",p)
r2= Result("Correlation",q)
ResultData=[r1,r2]
df=spark.createDataFrame(ResultData)
df.show()

+-----------+-------------------+
|      Stats|              Value|
+-----------+-------------------+
|Co-variance|0.09802782486048531|
|Correlation|                1.0|
+-----------+-------------------+

In [52]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql.functions import *
from pyspark.sql.types import StructType,StructField, StringType
from pyspark.sql.functions import col
from pyspark.sql.functions import rand
from pyspark import SparkConf, SparkContext, SQLContext
from pyspark.mllib.stat import Statistics
from pyspark.sql.functions import covar_pop
from pyspark.sql.functions import col
from pyspark.sql.functions import desc

spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

data = [("1", "Jack",22,"Data Science"),
 ("2","Luke",21,"Data Analytics"),
 ("3", "Leo",24,"Micro Services"),
 ("4", "Mark",21,"Data Analytics")]
columns = ["ID","Name","Age","AreaofInterest"]
df = spark.createDataFrame(data).toDF(*columns)
#df.show()
#agdf = df.describe('Age')
#agdf.coalesce(1).write.parquet("Age")
#df.orderBy(desc("ID"),desc("Name"),desc("Age")).show()

ds = df.select(col("ID"),col("Name"),col("Age"))

d = ds.orderBy(desc("Name"))


d.show()


#df.coalesce(1).write.parquet("NameSorted")

+---+----+---+
| ID|Name|Age|
+---+----+---+
|  4|Mark| 21|
|  2|Luke| 21|
|  3| Leo| 24|
|  1|Jack| 22|
+---+----+---+

In [4]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql.functions import *
from pyspark.sql.types import StructType,StructField, StringType
from pyspark.sql.functions import col
from pyspark.sql.functions import rand
from pyspark import SparkConf, SparkContext, SQLContext
from pyspark.mllib.stat import Statistics
from pyspark.sql.functions import covar_pop
from pyspark.sql.functions import input_file_name
import pandas as pd
import glob
import os
import pandas as pd

spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()
def filename(path):
    return path

sourceFile = udf(filename, StringType())
#dfn = spark.read.csv("file:///C:/hdaoopdata/ica/").select(sourceFile(input_file_name()))

#dfn.show(truncate=False)

#df = spark.read.options(header='True', delimiter=',',mergeShema='True').csv("file:///C:/hdaoopdata/ica/"). \
#    select(col("Intensity"),col("seq"),col("value"),(sourceFile(input_file_name()))). \
#    withColumnRenamed("filename(input_file_name())","date")


#max_mtime = 0
#for dirname,subdirs,files in os.walk("C:/hdaoopdata/ica/"):
#    for fname in files:
#        full_path = os.path.join(dirname, fname)
#        mtime = os.stat(full_path).st_mtime
#        if mtime > max_mtime:
#            max_mtime = mtime
#            max_dir = dirname
#            max_file = fname

#print (max_file)


df = spark.read.options(header='True',delimiter=',',mergeShema='True',badRecordsPath='file:///C:/hdaoopdata/ica_bad/').\
    csv("file:///C:/hdaoopdata/ica_source/")
dff = df.select(df['*'],(sourceFile(input_file_name()))).withColumnRenamed("filename(input_file_name())","date")
dff.show(truncate=False,n=100)   

dff = dff.withColumn('Month', regexp_extract(dff['date'], '([0-9][0-9][0-9][0-9])-([0-9][0-9])-([0-9][0-9])', 2))
dff = dff.withColumn('Year', regexp_extract(dff['date'], '([0-9][0-9][0-9][0-9])-([0-9][0-9])-([0-9][0-9])', 1))
dff = dff.withColumn('Day', regexp_extract(dff['date'], '([0-9][0-9][0-9][0-9])-([0-9][0-9])-([0-9][0-9])', 3))

df3=dff.select(concat_ws('-',dff.Year,dff.Month,dff.Day)
              .alias("date"),col("Intensity"),col("seq"),col("value")) 
#.show()
df3.registerTempTable("source_table")

#df4 = df3.groupby('date','Intensity').agg({'value': 'mean'}).show()

temp_avg = df3.groupby('date', 'Intensity')\
            .agg(avg('value').alias('Mean_value'))\
           .orderBy(col('date'), col('Intensity')).cache()
temp_avg.show()

temp_avg.write.mode('overwrite').option("mergeSchema", "true").parquet("file:///C:/hdaoopdata/ica_target/")

temp_avg.printSchema

# Read the partitioned table

mergedDF = spark.read.option("mergeSchema", "true").parquet("file:///C:/hdaoopdata/ica_target/")
print("Merged Schema")
mergedDF.printSchema
print("Merged Datarame where EMPAGE,EMPDEPT WERE ADDED AFER EMPID,EMPNAME,SALARY followed by your day column")
mergedDF.show(truncate=False)
  

#dffq.show(truncate=False)
dff.count()
mergedDF.count()

+---------+----+-----+-----------------------------------------------+
|Intensity|seq |value|date                                           |
+---------+----+-----+-----------------------------------------------+
|High     |1   |5.0  |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|Medium   |0   |3.0  |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|Low      |0   |null |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|Low      |0   |2.3  |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|Medium   |1   |2    |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|Medium   |1   |5.0  |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|Low      |0   |5.0  |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|High     |5.0 |0    |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|High     |8.0 |1    |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|Low      |0   |null |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|Low      |5.6 |1    |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|Medium   |6   |0    |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|Low      |6.0 |1    |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|Low      |0.0 |1    |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|Medium   |1.0 |0    |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|Low      |1.0 |1    |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|High     |null|1    |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|Low      |5.6 |1    |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|Medium   |6   |0    |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|Medium   |8.0 |1    |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|Low      |null|null |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|Medium   |1   |5.0  |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|Low      |0   |null |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|Low      |0   |null |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|Low      |0   |2.3  |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|null     |1   |3.6  |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|High     |1   |5.0  |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|Low      |0   |5.0  |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|Medium   |0   |5.0  |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
|Low      |0   |null |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
|Low      |1   |null |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
|High     |0   |2.3  |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
|Low      |1   |3.6  |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
|null     |0   |null |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
|Low      |0   |5.0  |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
+---------+----+-----+-----------------------------------------------+

+----------+---------+------------------+
|      date|Intensity|        Mean_value|
+----------+---------+------------------+
|2021-01-01|     High|               5.0|
|2021-01-01|      Low|              3.65|
|2021-01-01|   Medium|3.3333333333333335|
|2021-01-02|     High|               0.5|
|2021-01-02|      Low|               1.0|
|2021-01-02|   Medium|               0.0|
|2021-01-03|     High|               1.0|
|2021-01-03|      Low|               1.0|
|2021-01-03|   Medium|0.3333333333333333|
|2021-01-04|     null|               3.6|
|2021-01-04|     High|               5.0|
|2021-01-04|      Low|              3.65|
|2021-01-04|   Medium|               5.0|
|2021-01-05|     null|              null|
|2021-01-05|     High|               2.3|
|2021-01-05|      Low|               4.3|
|2021-01-05|   Medium|               5.0|
+----------+---------+------------------+

Merged Schema
Merged Datarame where EMPAGE,EMPDEPT WERE ADDED AFER EMPID,EMPNAME,SALARY followed by your day column
+----------+---------+------------------+
|date      |Intensity|Mean_value        |
+----------+---------+------------------+
|2021-01-01|Medium   |3.3333333333333335|
|2021-01-02|Medium   |0.0               |
|2021-01-03|Medium   |0.3333333333333333|
|2021-01-04|Medium   |5.0               |
|2021-01-05|Medium   |5.0               |
|2021-01-01|High     |5.0               |
|2021-01-02|High     |0.5               |
|2021-01-03|High     |1.0               |
|2021-01-04|High     |5.0               |
|2021-01-05|High     |2.3               |
|2021-01-01|Low      |3.65              |
|2021-01-02|Low      |1.0               |
|2021-01-03|Low      |1.0               |
|2021-01-04|Low      |3.65              |
|2021-01-05|Low      |4.3               |
|2021-01-04|null     |3.6               |
|2021-01-05|null     |null              |
+----------+---------+------------------+

17

In [11]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql.functions import *
from pyspark.sql.types import StructType,StructField, StringType
from pyspark.sql.functions import col
from pyspark.sql.functions import rand
from pyspark import SparkConf, SparkContext, SQLContext
from pyspark.mllib.stat import Statistics
from pyspark.sql.functions import covar_pop
from pyspark.sql.functions import input_file_name
import pandas as pd
import glob
import os
import pandas as pd

spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()
def filename(path):
    return path

sourceFile = udf(filename, StringType())

df = spark.read.options(header='True',delimiter=',',inferSchema='True').\
    csv("file:///C:/hdaoopdata/ica_source/")
dff = df.select(df['*'],(sourceFile(input_file_name()))).withColumnRenamed("filename(input_file_name())","date")
dff.show(truncate=False,n=100)  

dff = dff.withColumn('Month', regexp_extract(dff['date'], '([0-9][0-9][0-9][0-9])-([0-9][0-9])-([0-9][0-9])', 2))
dff = dff.withColumn('Year', regexp_extract(dff['date'], '([0-9][0-9][0-9][0-9])-([0-9][0-9])-([0-9][0-9])', 1))
dff = dff.withColumn('Day', regexp_extract(dff['date'], '([0-9][0-9][0-9][0-9])-([0-9][0-9])-([0-9][0-9])', 3))

df3=dff.select(concat_ws('-',dff.Year,dff.Month,dff.Day)
              .alias("date"),col("Intensity"),col("seq"),col("value")) 
#.show()


temp_avg = df3.groupby('date', 'Intensity')\
            .agg(avg('value').alias('Mean_value'))\
           .orderBy(col('date'), col('Intensity')).cache()
temp_avg.show(truncate=False,n=100)

+---------+-----+-----+--------+-----------------------------------------------+
|Intensity|seq  |value|newcolum|date                                           |
+---------+-----+-----+--------+-----------------------------------------------+
|Medium   |0    |5    |puvi    |file:///C:/hdaoopdata/ica_source/2021-01-06.csv|
|Low      |0    |#$   |raja    |file:///C:/hdaoopdata/ica_source/2021-01-06.csv|
|Low      |1    |$%%% |tamil   |file:///C:/hdaoopdata/ica_source/2021-01-06.csv|
|High     |0    |2.3  |null    |file:///C:/hdaoopdata/ica_source/2021-01-06.csv|
|Low      |1    |3.6  |null    |file:///C:/hdaoopdata/ica_source/2021-01-06.csv|
|null     |0    |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-06.csv|
|Low      |0    |5    |null    |file:///C:/hdaoopdata/ica_source/2021-01-06.csv|
|High     |1    |5.0  |null    |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|Medium   |0    |3.0  |null    |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|Low      |0    |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|Low      |0    |2.3  |null    |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|Medium   |1    |2    |null    |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|Medium   |1    |5.0  |null    |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|Low      |0    |5.0  |null    |file:///C:/hdaoopdata/ica_source/2021-01-01.csv|
|High     |5.0  |0    |null    |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|High     |8.0  |1    |null    |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|Low      |0    |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|Low      |5.6  |1    |null    |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|Medium   |6    |0    |null    |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|Low      |6.0  |1    |null    |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|Low      |0.0  |1    |null    |file:///C:/hdaoopdata/ica_source/2021-01-02.csv|
|Medium   |1.0  |0    |null    |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|Low      |1.0  |1    |null    |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|High     |null |1    |null    |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|Low      |5.6  |1    |null    |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|Medium   |6    |0    |null    |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|Medium   |8.0  |1    |null    |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|Low      |null |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-03.csv|
|Medium   |1    |5.0  |null    |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|Low      |0    |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|Low      |0    |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|Low      |0    |2.3  |null    |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|null     |1    |3.6  |null    |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|High     |1    |5.0  |null    |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|Low      |0    |5.0  |null    |file:///C:/hdaoopdata/ica_source/2021-01-04.csv|
|Medium   |0    |5.0  |null    |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
|Low      |0    |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
|Low      |1    |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
|High     |0    |2.3  |null    |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
|Low      |1    |3.6  |null    |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
|null     |0    |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
|Low      |0    |5.0  |null    |file:///C:/hdaoopdata/ica_source/2021-01-05.csv|
|Medium   |puvi |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-07.csv|
|Low      |raja |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-07.csv|
|Low      |tamil|null |null    |file:///C:/hdaoopdata/ica_source/2021-01-07.csv|
|High     |null |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-07.csv|
|Low      |null |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-07.csv|
|null     |null |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-07.csv|
|Low      |null |null |null    |file:///C:/hdaoopdata/ica_source/2021-01-07.csv|
+---------+-----+-----+--------+-----------------------------------------------+

+----------+---------+------------------+
|date      |Intensity|Mean_value        |
+----------+---------+------------------+
|2021-01-01|High     |5.0               |
|2021-01-01|Low      |3.65              |
|2021-01-01|Medium   |3.3333333333333335|
|2021-01-02|High     |0.5               |
|2021-01-02|Low      |1.0               |
|2021-01-02|Medium   |0.0               |
|2021-01-03|High     |1.0               |
|2021-01-03|Low      |1.0               |
|2021-01-03|Medium   |0.3333333333333333|
|2021-01-04|null     |3.6               |
|2021-01-04|High     |5.0               |
|2021-01-04|Low      |3.65              |
|2021-01-04|Medium   |5.0               |
|2021-01-05|null     |null              |
|2021-01-05|High     |2.3               |
|2021-01-05|Low      |4.3               |
|2021-01-05|Medium   |5.0               |
|2021-01-06|null     |null              |
|2021-01-06|High     |2.3               |
|2021-01-06|Low      |4.3               |
|2021-01-06|Medium   |5.0               |
|2021-01-07|null     |null              |
|2021-01-07|High     |null              |
|2021-01-07|Low      |null              |
|2021-01-07|Medium   |null              |
+----------+---------+------------------+

In [ ]:
pyspark --packages org.postgresql:postgresql:42.2.10

In [70]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql.functions import *
from pyspark.sql.types import StructType,StructField, StringType
from pyspark.sql.functions import col
from pyspark.sql.functions import rand
from pyspark import SparkConf, SparkContext, SQLContext
from pyspark.mllib.stat import Statistics
from pyspark.sql.functions import covar_pop
from pyspark.sql.functions import input_file_name
import pandas as pd
import glob
import os
import pandas as pd

spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

dfc = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/postgres") \
    .option("dbtable", "cust_info_s") \
    .option("user", "postgres") \
    .option("password", "puvi") \
    .option("driver", "org.postgresql.Driver") \
    .load()

#dfc.show()



dft = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/postgres") \
    .option("dbtable", "trans_info_s") \
    .option("user", "postgres") \
    .option("password", "puvi") \
    .option("driver", "org.postgresql.Driver") \
    .load()

#dft.show()

dfo = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/postgres") \
    .option("dbtable", "offer_info_s") \
    .option("user", "postgres") \
    .option("password", "puvi") \
    .option("driver", "org.postgresql.Driver") \
    .load()

#dfo.show()


dfc.registerTempTable('cust_info')
dft.registerTempTable('trans_info')
dfo.registerTempTable('offer_info')
sqlc = SQLContext(sc)


#sqlc.sql("select * from cust_info").show(10)
#sqlc.sql("select * from trans_info").show(10)
#sqlc.sql("select * from offer_info").show(10)

#sqlContext.sql("select to_date('2017-01-01') as time, date_format(to_date('2017-01-01'),'W') as week").show()

#sqlContext.sql("""select date_format(date (b.date),'E') as days, 
#                date_format(to_date(b.date),'W') as week, 
#                int(datediff(current_date(),TO_DATE(CAST(UNIX_TIMESTAMP(b.date,'yyyy-MM-dd') AS TIMESTAMP)))/365) as age
#                from trans_info b 
#                """).show()

sqlContext.sql("""select count(o.offer_id) as no_offer_received,sum(offer_redem) as no_offer_redem,o.cust_id 
            from offer_info o
            inner join trans_info t
            on t.cust_id = o.cust_id
            group by o.cust_id order by o.cust_id
                  """).show()

df = sqlc.sql("""  WITH sales_data AS ( select sum(sales) as total_sales,count(trans_id) as visits,cust_id,date 
            from trans_info
            group by date,cust_id),
            offer_data AS ( 
            select count(o.offer_id) as no_offer_received,sum(offer_redem) as no_offer_redem,o.cust_id 
            from offer_info o
            inner join trans_info t
            on t.cust_id = o.cust_id
            group by o.cust_id order by o.cust_id)
            select b.date,b.cust_id,a.cust_name,a.cust_dob,
            int(datediff(current_date(),TO_DATE(CAST(UNIX_TIMESTAMP(a.cust_dob,'yyyy-MM-dd') AS TIMESTAMP)))/365) as age,
            total_sales,c.no_offer_received,c.no_offer_redem,visits, date_format(to_date(b.date),'E') as days,
            int(date_format(to_date(b.date),'w')) AS  week_number
            from cust_info a
            left join sales_data b
            on a.cust_id = b.cust_id
            inner join offer_data c
            on b.cust_id = c.cust_id
            group by b.date,a.cust_id,b.cust_id,a.cust_name,a.cust_dob,c.no_offer_received,c.no_offer_redem,total_sales,visits,days
            order by a.cust_id
            """)

#df.show()

#reshaped_df = df.select("date","cust_id","cust_name","cust_dob","age","total_sales","no_offer_received","no_offer_redem","visits","days","week_number").groupby('cust_id').pivot('days').max('no_offer_received').fillna(0)

reshaped_dfs = df.groupby('cust_id','cust_name','age','no_offer_received','no_offer_redem','visits','total_sales').pivot('days').max('no_offer_received').fillna(0)

reshaped_dfs.show()

+-----------------+--------------+----------------+
|no_offer_received|no_offer_redem|         cust_id|
+-----------------+--------------+----------------+
|                4|             2| 346495553236295|
|                4|             0|4716095485621384|
|                4|             4|4716744331063073|
|                4|             0|4929800060892364|
|                4|             4|5370009829177288|
+-----------------+--------------+----------------+

+----------------+-------------------+---+-----------------+--------------+------+-----------+---+---+---+---+---+
|         cust_id|          cust_name|age|no_offer_received|no_offer_redem|visits|total_sales|Sat|Sun|Thu|Tue|Wed|
+----------------+-------------------+---+-----------------+--------------+------+-----------+---+---+---+---+---+
|4716744331063073|Dr. Carley Predovic| 37|                4|             4|     1|          8|  0|  0|  4|  0|  0|
|5370009829177288|      Lilla Weimann| 28|                4|             4|     1|         15|  0|  4|  0|  0|  0|
|5370009829177288|      Lilla Weimann| 28|                4|             4|     1|          5|  0|  0|  0|  0|  4|
|4716744331063073|Dr. Carley Predovic| 37|                4|             4|     1|         18|  0|  4|  0|  0|  0|
|4716095485621384|Tatum Rosenbaum Jr.| 29|                4|             0|     1|          1|  4|  0|  0|  0|  0|
|4929800060892364|   Zula Ziemann PhD| 29|                4|             0|     1|          0|  0|  0|  0|  4|  0|
|4929800060892364|   Zula Ziemann PhD| 29|                4|             0|     1|         10|  4|  0|  0|  0|  0|
|4716095485621384|Tatum Rosenbaum Jr.| 29|                4|             0|     1|         11|  0|  0|  0|  4|  0|
+----------------+-------------------+---+-----------------+--------------+------+-----------+---+---+---+---+---+

In [83]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql.functions import *
from pyspark.sql.types import StructType,StructField, StringType
from pyspark.sql.functions import col
from pyspark.sql.functions import rand
from pyspark import SparkConf, SparkContext, SQLContext
from pyspark.mllib.stat import Statistics
from pyspark.sql.functions import covar_pop
from pyspark.sql.functions import input_file_name
import pandas as pd
import glob
import os
import pandas as pd

spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

# Data extraction from Postgres server for dependent tables

df_extract_cus_info = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/postgres") \
    .option("dbtable", "cust_info_s") \
    .option("user", "postgres") \
    .option("password", "puvi") \
    .option("driver", "org.postgresql.Driver") \
    .load()



df_extract_trans_info = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/postgres") \
    .option("dbtable", "trans_info_s") \
    .option("user", "postgres") \
    .option("password", "puvi") \
    .option("driver", "org.postgresql.Driver") \
    .load()

df_extract_offer_info = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/postgres") \
    .option("dbtable", "offer_info_s") \
    .option("user", "postgres") \
    .option("password", "puvi") \
    .option("driver", "org.postgresql.Driver") \
    .load()

# Storing the source Postgres dependent tables into temp tables


df_extract_cus_info.registerTempTable('cust_info')
df_extract_trans_info.registerTempTable('trans_info')
df_extract_offer_info.registerTempTable('offer_info')
sqlc = SQLContext(sc)

# Tranforming the data into business requirements

df_transf = sqlc.sql("""  WITH sales_data AS ( select sum(sales) as total_sales,count(trans_id) as visits,cust_id,date 
            from trans_info
            group by date,cust_id),
            offer_data AS ( 
            select count(o.offer_id) as no_offer_received,sum(offer_redem) as no_offer_redem,o.cust_id 
            from offer_info o
            inner join trans_info t
            on t.cust_id = o.cust_id
            group by o.cust_id order by o.cust_id)
            select b.date,b.cust_id,a.cust_name,a.cust_dob,
            int(datediff(current_date(),TO_DATE(CAST(UNIX_TIMESTAMP(a.cust_dob,'yyyy-MM-dd') AS TIMESTAMP)))/365) as age,
            total_sales,c.no_offer_received,c.no_offer_redem,visits, date_format(to_date(b.date),'E') as days,
            int(date_format(to_date(b.date),'w')) AS  week_number
            from cust_info a
            left join sales_data b
            on a.cust_id = b.cust_id
            inner join offer_data c
            on b.cust_id = c.cust_id
            group by b.date,a.cust_id,b.cust_id,a.cust_name,a.cust_dob,c.no_offer_received,c.no_offer_redem,total_sales,visits,days
            order by a.cust_id
            """)

final_dfs = df_transf.orderBy('cust_id').groupby('cust_id','cust_name','age','date','days','no_offer_received','no_offer_redem','total_sales').pivot('days').max('no_offer_received').fillna(0)

#Sampling data - In case of job failure data can be view in Spark UI

final_dfs.show()


# Writin the final data into CSV files


final_dfs.repartition(1).write.mode("overwrite").option("header",True).csv("file:///C:/hdaoopdata/ics_weekly_data/")

+----------------+-------------------+---+----------+----+-----------------+--------------+-----------+---+---+---+
|         cust_id|          cust_name|age|      date|days|no_offer_received|no_offer_redem|total_sales|Sat|Thu|Wed|
+----------------+-------------------+---+----------+----+-----------------+--------------+-----------+---+---+---+
|4716095485621384|Tatum Rosenbaum Jr.| 29|1987-02-07| Sat|                2|             0|          1|  2|  0|  0|
|4716744331063073|Dr. Carley Predovic| 37|1987-09-17| Thu|                2|             2|          8|  0|  2|  0|
|4929800060892364|   Zula Ziemann PhD| 29|1995-09-09| Sat|                2|             0|         10|  2|  0|  0|
|5370009829177288|      Lilla Weimann| 28|2005-08-24| Wed|                2|             2|          5|  0|  0|  2|
+----------------+-------------------+---+----------+----+-----------------+--------------+-----------+---+---+---+

In [127]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql.functions import *
from pyspark.sql.types import StructType,StructField, StringType
from pyspark.sql.functions import col
from pyspark.sql.functions import rand
from pyspark import SparkConf, SparkContext, SQLContext
from pyspark.mllib.stat import Statistics
from pyspark.sql.functions import covar_pop
from pyspark.sql.functions import input_file_name
import pandas as pd
import glob
import os
import pandas as pd

spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

# Temptables cleaning process

spark.catalog.dropTempView("cust_info_s")
spark.catalog.dropTempView("trans_info_s")
spark.catalog.dropTempView("offer_info_s")

# List of table to extract from source server

tablename_list = ['cust_info_s','trans_info_s','offer_info_s']

# Data extraction from Postgres server for dependent tables
    
url = "jdbc:postgresql://localhost:5432/postgres"
reader = (
    sqlContext.read.format("jdbc")
    .option("url", url)
    .option("user", "postgres")
    .option("password", "puvi")
    .option("driver", "org.postgresql.Driver")
)
for tablename in tablename_list:
    reader.option("dbtable", tablename).load().registerTempTable(tablename)


    
# Sample view of source tables extracted from Postgres server   

sqlc = SQLContext(sc)

sqlc.sql("select * from cust_info_s").show(10)
sqlc.sql("select * from trans_info_s").show(10)
sqlc.sql("select * from offer_info_s").show(10)

# Tranforming the data into business requirements

df_transf = sqlc.sql("""  WITH sales_data AS ( select sum(sales) as total_sales,count(trans_id) as visits,cust_id,date 
            from trans_info_s
            group by date,cust_id),
            offer_data AS ( 
            select count(o.offer_id) as no_offer_received,sum(offer_redem) as no_offer_redem,o.cust_id 
            from offer_info_s o
            inner join trans_info_s t
            on t.cust_id = o.cust_id
            group by o.cust_id order by o.cust_id)
            select b.date,b.cust_id,a.cust_name,a.cust_dob,
            int(datediff(current_date(),TO_DATE(CAST(UNIX_TIMESTAMP(a.cust_dob,'yyyy-MM-dd') AS TIMESTAMP)))/365) as age,
            total_sales,c.no_offer_received,c.no_offer_redem,visits, date_format(to_date(b.date),'E') as days,
            int(date_format(to_date(b.date),'w')) AS  week_number
            from cust_info_s a
            left join sales_data b
            on a.cust_id = b.cust_id
            inner join offer_data c
            on b.cust_id = c.cust_id
            group by b.date,a.cust_id,b.cust_id,a.cust_name,a.cust_dob,c.no_offer_received,c.no_offer_redem,total_sales,visits,days
            order by a.cust_id
            """)

final_dfs = df_transf.orderBy('cust_id').groupby('cust_id','cust_name','age','date','days','no_offer_received','no_offer_redem','total_sales').pivot('days').max('no_offer_received').fillna(0)

#Sampling data - In case of job failure data can be viewed in Spark UI

final_dfs.show()


# Writin the final data into CSV files


final_dfs.repartition(1).write.mode("overwrite").option("header",True).csv("file:///C:/hdaoopdata/ics_weekly_data/")

+-------------------+----------------+----------+--------+
|          cust_name|         cust_id|  cust_dob|  gender|
+-------------------+----------------+----------+--------+
|         RoseJacobi|6011837504027367|1981-08-06|   Edgar|
|Dr. Carley Predovic|4716744331063073|1984-07-30|   Deron|
|      Lilla Weimann|5370009829177288|1993-05-16|Leonardo|
|Cathrine Hodkiewicz| 345858730400343|1995-05-20|    Rick|
|      Celia Pfeffer| 340364615541355|2009-06-25|  Bryana|
|        Cleve Fahey|2628327277351883|2017-08-16| Ibrahim|
|     Gillian Senger| 346688355572616|1972-02-06| Keshawn|
|     Joshua Roberts|5290632464794443|1995-08-18|   Ethan|
|   Rasheed Gislason|2506922387299209|1994-07-06| Rasheed|
|      Felicity Ryan|4532251518044506|2001-09-08|   Aleen|
+-------------------+----------------+----------+--------+
only showing top 10 rows

+--------+----------------+----------+--------+---------+-----------+-----+----------+
|trans_id|         cust_id|product_id|store_id| offer_id|offer_redem|sales|      date|
+--------+----------------+----------+--------+---------+-----------+-----+----------+
|      29|4716744331063073|         5|       5|   162054|          1|    8|1987-09-17|
|      25|4716095485621384|         5|       1|      860|          0|    1|1987-02-07|
|      26|5370009829177288|         6|       8|   865856|          1|    5|2005-08-24|
|      20| 346495553236295|         8|       7|977569237|          1|    7|2008-10-15|
|      28| 340364615541355|         9|       2|       56|          0|    9|2006-10-28|
|      27|2628327277351883|         1|       7|      146|          1|    3|1978-12-27|
|      27| 346688355572616|         6|       7|     9090|          0|    4|2003-06-14|
|      29|5290632464794443|         7|       9|    57620|          0|    4|2004-04-29|
|      28|2506922387299209|         2|       7|       58|          0|    7|1992-07-22|
|      25|4532251518044506|         9|       7|   361328|          0|    9|1975-03-26|
+--------+----------------+----------+--------+---------+-----------+-----+----------+
only showing top 10 rows

+----------+----------------+---------+----------+----------+
|offer_name|         cust_id| offer_id|start_date|  end_date|
+----------+----------------+---------+----------+----------+
|  BUYOGETO|4716744331063073|   162054|2020-05-21|2021-06-21|
| SUMMEROFF|4716095485621384|      860|2014-11-05|2028-05-23|
|  CHRISOFF|5370009829177288|   865856|1982-10-15|2021-11-11|
|  BLACKOFF| 346495553236295|977569237|1994-12-18|2041-02-28|
|    WEDOFF|4929800060892364|    20681|1972-05-18|2023-10-31|
| SUMMEROFF|5474205046620622|  7554030|1982-09-24|1986-11-05|
|  BUYOGETO|2432018555321971| 63791287|2020-03-09|1997-02-12|
|  CHRISOFF|   4929389456522|      870|2004-05-04|1971-02-02|
|  BUYOGETO|4024007158401561|       57|1989-08-25|1994-09-09|
|  CHRISOFF|6011702932606440|   855528|2011-02-24|1998-12-20|
+----------+----------------+---------+----------+----------+
only showing top 10 rows

+----------------+-------------------+---+----------+----+-----------------+--------------+-----------+---+---+---+
|         cust_id|          cust_name|age|      date|days|no_offer_received|no_offer_redem|total_sales|Sat|Thu|Wed|
+----------------+-------------------+---+----------+----+-----------------+--------------+-----------+---+---+---+
|4716095485621384|Tatum Rosenbaum Jr.| 29|1987-02-07| Sat|                2|             0|          1|  2|  0|  0|
|4716744331063073|Dr. Carley Predovic| 37|1987-09-17| Thu|                2|             2|          8|  0|  2|  0|
|4929800060892364|   Zula Ziemann PhD| 29|1995-09-09| Sat|                2|             0|         10|  2|  0|  0|
|5370009829177288|      Lilla Weimann| 28|2005-08-24| Wed|                2|             2|          5|  0|  0|  2|
+----------------+-------------------+---+----------+----+-----------------+--------------+-----------+---+---+---+