In [ ]:
 # Importing Postgres JDBC packages for data extraction
pyspark --packages org.postgresql:postgresql:42.2.10 --conf spark.sql.catalogImplementation=in-memory

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql.functions import *
from pyspark.sql.types import StructType,StructField, StringType
from pyspark.sql.functions import col
from pyspark.sql.functions import rand
from pyspark import SparkConf, SparkContext, SQLContext
from pyspark.mllib.stat import Statistics
from pyspark.sql.functions import covar_pop
from pyspark.sql.functions import input_file_name
import pandas as pd
import glob
import os
import pandas as pd

spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

# Temptables cleaning process

spark.catalog.dropTempView("cust_info_s")
spark.catalog.dropTempView("trans_info_s")
spark.catalog.dropTempView("offer_info_s")

# List of table to extract from source server

tablename_list = ['cust_info_s','trans_info_s','offer_info_s']

# Data extraction from Postgres server for dependent tables
    
url = "jdbc:postgresql://localhost:5431/postgres"
reader = (
    sqlContext.read.format("jdbc")
    .option("url", url)
    .option("user", "postgres")
    .option("password", "puvi")
    .option("driver", "org.postgresql.Driver")
)
for tablename in tablename_list:
    reader.option("dbtable", tablename).load().registerTempTable(tablename)


    
# Sample view of source tables extracted from Postgres server   

sqlc = SQLContext(sc)

sqlc.sql("select * from cust_info_s").show(10)
sqlc.sql("select * from trans_info_s").show(10)
sqlc.sql("select * from offer_info_s").show(10)

# Tranforming the data into business requirements

df_transf = sqlc.sql("""  WITH sales_data AS ( select sum(sales) as total_sales,count(trans_id) as visits,cust_id,date 
            from trans_info_s
            group by date,cust_id),
            offer_data AS ( 
            select count(o.offer_id) as no_offer_received,sum(offer_redem) as no_offer_redem,o.cust_id 
            from offer_info_s o
            inner join trans_info_s t
            on t.cust_id = o.cust_id
            group by o.cust_id order by o.cust_id)
            select b.date,b.cust_id,a.cust_name,a.cust_dob,
            int(datediff(current_date(),TO_DATE(CAST(UNIX_TIMESTAMP(a.cust_dob,'yyyy-MM-dd') AS TIMESTAMP)))/365) as age,
            total_sales,c.no_offer_received,c.no_offer_redem,visits, date_format(to_date(b.date),'E') as days,
            int(date_format(to_date(b.date),'w')) AS  week_number
            from cust_info_s a
            left join sales_data b
            on a.cust_id = b.cust_id
            inner join offer_data c
            on b.cust_id = c.cust_id
            group by b.date,a.cust_id,b.cust_id,a.cust_name,a.cust_dob,c.no_offer_received,c.no_offer_redem,total_sales,visits,days
            order by a.cust_id
            """)

final_dfs = df_transf.orderBy('cust_id').groupby('cust_id','cust_name','age','date','days','no_offer_received','no_offer_redem','total_sales').pivot('days').max('no_offer_received').fillna(0)

#Sampling data - In case of job failure data can be viewed in Spark UI

final_dfs.show()


# Writin the final data into CSV files


final_dfs.repartition(1).write.mode("overwrite").option("header",True).csv("file:///C:/hdaoopdata/ics_weekly_data/")

+-------------------+----------------+----------+--------+
|          cust_name|         cust_id|  cust_dob|  gender|
+-------------------+----------------+----------+--------+
|         RoseJacobi|6011837504027367|1981-08-06|   Edgar|
|Dr. Carley Predovic|4716744331063073|1984-07-30|   Deron|
|      Lilla Weimann|5370009829177288|1993-05-16|Leonardo|
|Cathrine Hodkiewicz| 345858730400343|1995-05-20|    Rick|
|      Celia Pfeffer| 340364615541355|2009-06-25|  Bryana|
|        Cleve Fahey|2628327277351883|2017-08-16| Ibrahim|
|     Gillian Senger| 346688355572616|1972-02-06| Keshawn|
|     Joshua Roberts|5290632464794443|1995-08-18|   Ethan|
|   Rasheed Gislason|2506922387299209|1994-07-06| Rasheed|
|      Felicity Ryan|4532251518044506|2001-09-08|   Aleen|
+-------------------+----------------+----------+--------+
only showing top 10 rows

+--------+----------------+----------+--------+---------+-----------+-----+----------+
|trans_id|         cust_id|product_id|store_id| offer_id|offer_redem|sales|      date|
+--------+----------------+----------+--------+---------+-----------+-----+----------+
|      29|4716744331063073|         5|       5|   162054|          1|    8|1987-09-17|
|      25|4716095485621384|         5|       1|      860|          0|    1|1987-02-07|
|      26|5370009829177288|         6|       8|   865856|          1|    5|2005-08-24|
|      20| 346495553236295|         8|       7|977569237|          1|    7|2008-10-15|
|      28| 340364615541355|         9|       2|       56|          0|    9|2006-10-28|
|      27|2628327277351883|         1|       7|      146|          1|    3|1978-12-27|
|      27| 346688355572616|         6|       7|     9090|          0|    4|2003-06-14|
|      29|5290632464794443|         7|       9|    57620|          0|    4|2004-04-29|
|      28|2506922387299209|         2|       7|       58|          0|    7|1992-07-22|
|      25|4532251518044506|         9|       7|   361328|          0|    9|1975-03-26|
+--------+----------------+----------+--------+---------+-----------+-----+----------+
only showing top 10 rows

+----------+----------------+---------+----------+----------+
|offer_name|         cust_id| offer_id|start_date|  end_date|
+----------+----------------+---------+----------+----------+
|  BUYOGETO|4716744331063073|   162054|2020-05-21|2021-06-21|
| SUMMEROFF|4716095485621384|      860|2014-11-05|2028-05-23|
|  CHRISOFF|5370009829177288|   865856|1982-10-15|2021-11-11|
|  BLACKOFF| 346495553236295|977569237|1994-12-18|2041-02-28|
|    WEDOFF|4929800060892364|    20681|1972-05-18|2023-10-31|
| SUMMEROFF|5474205046620622|  7554030|1982-09-24|1986-11-05|
|  BUYOGETO|2432018555321971| 63791287|2020-03-09|1997-02-12|
|  CHRISOFF|   4929389456522|      870|2004-05-04|1971-02-02|
|  BUYOGETO|4024007158401561|       57|1989-08-25|1994-09-09|
|  CHRISOFF|6011702932606440|   855528|2011-02-24|1998-12-20|
+----------+----------------+---------+----------+----------+
only showing top 10 rows

+----------------+-------------------+---+----------+----+-----------------+--------------+-----------+---+---+---+
|         cust_id|          cust_name|age|      date|days|no_offer_received|no_offer_redem|total_sales|Sat|Thu|Wed|
+----------------+-------------------+---+----------+----+-----------------+--------------+-----------+---+---+---+
|4716095485621384|Tatum Rosenbaum Jr.| 29|1987-02-07| Sat|                2|             0|          1|  2|  0|  0|
|4716744331063073|Dr. Carley Predovic| 37|1987-09-17| Thu|                2|             2|          8|  0|  2|  0|
|4929800060892364|   Zula Ziemann PhD| 29|1995-09-09| Sat|                2|             0|         10|  2|  0|  0|
|5370009829177288|      Lilla Weimann| 28|2005-08-24| Wed|                2|             2|          5|  0|  0|  2|
+----------------+-------------------+---+----------+----+-----------------+--------------+-----------+---+---+---+